.user-bg-img{

    border: 0.2px solid black;
    height: 40vh;
    /* height: 60vh; */
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
  }
  .camra-icon{
    font-size: 250%;
    border: 1px solid;
    border-radius: 50%;
  }